VITE_MAIL_PORTER_URL=https://mail-porter.vercel.app/api/email/send-email/gmail
VITE_MAIL_PORTER_API_KEY=your_api_key_here
VITE_MAIL_PORTER_NAME=zquab
VITE_MAIL_PORTER_BRAND=zquab
VITE_MAIL_PORTER_MESSAGE=Thanks for signing up.
VITE_MAIL_PORTER_SUBJECT=Welcome to zQuab - Early Access
